.footer
  background: $dark url('../img/footer-bg.jpg')  no-repeat  center / cover
  &__wrap
    background-color: $black   
    max-width: 63.07rem
    margin: auto
    padding: 2.5rem
    margin-top: -20rem
    margin-bottom: 3.714rem
    padding-top: 3rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-style: normal
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-top: 0
    
  &__form
    display: flex  
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.42rem
    margin: auto
  &__input-group
    display: flex  
    flex-direction: column
    flex-basis: 45%
    margin-bottom: 2rem
    margin-top: 2rem
    padding-top: 0.3rem
    &--question
      flex-basis: 100%
  &__policy  
    flex-basis: 100%
    margin-bottom: 2rem
  &__button
    margin: auto 
    margin-top: 0.6rem 
    padding: 1.285rem 4.785rem
  &__menu
    background-color: $dark
    padding: 4.285rem 0
  &__map
    min-height: 465px
    max-width: 925px
    margin: auto
    margin-bottom: 4rem
    

    