.hero
  position: relative
  padding-top: 110px
  background: $dark url("../img/main_image.jpg") no-repeat center / cover
  height: 100vh
  color: $light

  &__instagram
    position: absolute
    left: 0
    top: 0
    max-width: 80px
    height: 100%
.instagram
  display: flex
  justify-content: center
  align-items: center
  background-color: $dark  
.title
  margin: 0