*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: 'Futura Book', sans-serif;
  font-size: 14px; }

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Yeseva One', cursive; }
  .section-title__image::after, .section-title__image::before {
    content: '';
    widows: 32px;
    height: 2px; }
